body {
    background-image: linear-gradient(0deg, $blue-50, $white);
}
.application-wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-gap: ($spacer * 2);
    grid-template-columns: minmax(320px, 2fr) minmax(380px, 3fr) minmax(440px, 5fr);
    grid-template-rows: auto;
    align-items: start;
    justify-content: space-between;
    background-image: linear-gradient(0deg, $blue-50, $white);
    @include media-breakpoint-down(lg) {
        display: block;
        height: auto;
        padding-right: 0;
    }
    > [class^='panel-'] {
        overflow: hidden;
        @include media-breakpoint-down(lg) {
            margin-bottom: ($spacer * 2);
        }
    }
    .panel-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-self: stretch;
        @include gradient-x ($blue-a400, transparent, 8px, 8px);
        .logo {
            display: flex;
            justify-content: center;
            flex: none;
            @extend .py-4;
            @include gradient-x ($purple-800, transparent, 8px, 8px);
        }
        .nav {
            flex-grow: 1;
            @include gradient-x ($blue-a400, transparent, 8px, 8px);
            .btn-help {
                @extend .ml-3;
            }
        }
        .credits {
            @extend .pl-4,
                    .my-2;
            @include gradient-x ($blue-a400, transparent, 8px, 8px);
            .text-muted {
                @extend .mt-3;
                color: $gray-700;
                font-size: $font-size-sm;
                a {
                    color: $gray-700;
                    &:hover {
                        color: $gray-800;
                    }
                }
            }
        }
        @include media-breakpoint-down(lg) {
            background-image: none;
            .logo, .nav, .credits {
                background-image: none;
            }
        }
    }
    .panel-disciplines {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        @extend .pane,
                .p-0;
        .fl-department-list-control {
            @extend .pane-head;
        }
    }
    .panel-results {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        @extend .pane,
                .p-0;
    }
    .list-container {
        position: relative;
        display: flex;
        flex-grow: 1;
        flex: 1;
        flex-direction: column;
        height: 100%;
        padding: 0;
        overflow: hidden;
        .scrollbar-hider {
            overflow-y: scroll;
            overflow-x: hidden;
            outline: none;
            position: absolute;
            top: 0;
            left: 0;
            right: -50px;
            bottom: 0;
            height: 100%;
            @include media-breakpoint-down(lg) {
                position: relative;
            }
        }
        > * {
            width: 100%;
        }
    }
}
