body {
    background-image: linear-gradient(90deg, $blue-50, $white);
}
.application-wrapper {
    @extend .pr-4;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-gap: ($spacer * 2);
    grid-template-columns: 2fr 3fr 5fr;
    align-items: start;
    justify-content: space-between;
    overflow: hidden;
    @include gradient-x ($blue-a400, transparent, 8px, 8px);
    > [class^='panel-'] {
        overflow: hidden;
    }
    .panel-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-self: stretch;
        .logo {
            display: flex;
            justify-content: center;
            @extend .py-4;
            @include gradient-x ($purple-800, transparent, 8px, 8px);
        }
        .nav {
            @include gradient-x ($blue-a400, transparent, 8px, 8px);
            .btn-help {
                @extend .ml-3;
            }
        }
        .credits {
            align-self: flex-end;
            @extend .pl-4,
                    .my-5;
            @include gradient-x ($blue-a400, transparent, 8px, 8px);
            .text-muted {
                @extend .mt-3;
                color: $gray-700;
                font-size: $font-size-sm;
                a {
                    color: $gray-700;
                    &:hover {
                        color: $gray-800;
                    }
                }
            }
        }
    }
    .panel-disciplines {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        @extend .pane,
                .p-0;
        .fl-department-list-control {
            @extend .pane-head;
        }
    }
    .panel-results {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        @extend .pane,
                .p-0;
    }
    .list-container {
        position: relative;
        display: flex;
        flex-grow: 1;
        flex: 1;
        flex-direction: column;
        height: 100%;
        padding: 0;
        overflow: hidden;
        .scrollbar-hider {
            overflow-y: scroll;
            overflow-x: hidden;
            outline: none;
            position: absolute;
            top: 0;
            left: 0;
            right: -50px;
            bottom: 0;
            height: 100%;
        }
        .link-list-group {
            width: calc(100% - 50px);
        }
    }
}
