// Set cursor for button element
button:hover {
    cursor: pointer;
}

// Turn off border colors
.btn {
    display: flex;
    align-items: center;
    border-color: transparent;
}

// Buttons with icons
// Icons should always appear before text in a button
.btn {
    svg[class*="icon-"] {
        margin-right: 0.5em;
        @include transition-property(height);
        @include transition-duration($duration-exit);
        @include transition-easing($easing-decel);
    }
    &:hover, 
    &:focus {
        svg[class*="icon-"] {
            height: 1em;
            @include transition-duration($duration-entry);
            @include transition-easing($easing-accel);
        }
    }
}