.card {
    position: relative;
    box-shadow: 0 2px 2px 0 rgba($gray-500, 0.21);
    @include transition-property(transform);
    @include transition-duration($duration-exit);
    @include transition-easing($easing-decel);
    transform-origin: 50% 50%;
    .card-head {
        @extend .card-body;
    }
    .remove-card {
        position: absolute;
        top: $card-spacer-y;
        right: $card-spacer-x;
        padding: 0;
        svg[class^="icon-"] {
            margin-right: 0;
        }
    }
    &:hover {
        transform: translateZ(0) scale(1.1) translate3d(0,0,0);
        @include transition-duration($duration-entry);
        @include transition-easing($easing-accel);
    }
}