// Icons
svg[class^="icon-"] {
    display: inline-block;
    fill: currentColor;
    height: 0.8em;
    &.icon-pin {
        transform: rotate(-45deg);
        height: 0.7em;
    }
    &.icon-heart {
        fill: $pink;
    }
}