// Icons
svg[class^="icon-"] {
    display: inline-block;
    fill: currentColor;
    height: 0.8em;
    &.icon-pin {
        transform: rotate(-45deg);
        height: 0.7em;
    }
}

// Defs only
svg.defs-only {
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
}