#icon-radio-empty {
    #circle-outer {
        fill: transparent;
        stroke: $gray-800;
        stroke-width: 2;
    }
}
#icon-radio {
    #circle-outer {
        stroke: $blue-700;
        fill: transparent;
        stroke-width: 2;
    }
    #circle-inner {
        fill: rgba($blue-500, 1);
        @include transition-duration($duration-entry);
        @include transition-easing($easing-accel);
        @include transition-property(fill);
    }
}
