// Initialize the pieces that will change
// Default State
.radio-empty {
    .circle-inner {
        fill: rgba($blue-500, 0);
        @include transition-duration($duration-exit);
        @include transition-easing($easing-decel);
        @include transition-property(fill);
    }
}
// Filled State
.radio-filled {
    .circle-inner {
        fill: rgba($blue-500, 1);
        @include transition-duration($duration-entry);
        @include transition-easing($easing-accel);
        @include transition-property(fill);
    }
}
// Initialize the pieces that will not change
// And apply change states
.icon-radio {
    .circle-outer {
        fill: transparent;
        stroke: $blue-800;
        stroke-width: 2;
    }
    @extend .radio-empty;
}
.selected .icon-radio {
    @extend .radio-filled;
}