// Classes we'll be extending
.show-pin-btn {
    right: 0;
    opacity: 1;
}
.hover-link {
    background-position: 0 0;
}

// Link list group
// Extends Bootstrap's List Group component to have multiple links per row

.link-list-group {
    // limit z-index's scope
    position: relative;
    @extend .list-group;
    li {
        @extend .list-group-item;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0;
        border-width: 0;
        border-radius: 0;
        overflow: hidden;
        &:first-child { @include border-top-radius(0); }
        &:last-child { @include border-bottom-radius(0); }
        &:nth-child(2n) {
            background-color: $gray-50;
        }
        &:hover a.pin { @extend .show-pin-btn; }
        &.selected {
            a:first-child {
                @extend .hover-link;
                font-weight: 500;
                #icon-radio {
                    #circle-outer {
                        stroke: $blue-700;
                        fill: transparent;
                        stroke-width: 2;
                    }
                    #circle-inner {
                        fill: rgba($blue-500, 1);
                        @include transition-duration($duration-entry);
                        @include transition-easing($easing-accel);
                        @include transition-property(fill);
                    }
                }
            }
            a.pin {
                @extend .show-pin-btn;
            }
        }
    }
    a {
        @extend .btn;
        padding: $list-group-item-padding-y $list-group-item-padding-x;
        border-width: 0;
        border-radius: 0;
        @include transition-duration($duration-exit);
        @include transition-easing($easing-decel);
        &:first-child {
            flex-grow: 1;
            color: $gray-800;
            text-align: left;
            font-weight: 300;
            @extend .pl-4;
            // include a transparent gradient so we have something to transition from
            @include gradient-x ($purple-700, transparent, 8px, 8px);
            background-repeat: no-repeat;
            background-position: -8px 0;
            background-color: transparent;
            @include transition-property(background-position, background-color, color);
            &:hover, 
            &:focus {
                @extend .hover-link;
            }
            &:focus {
                font-weight: 500;
            }
            &:before {
                content: attr(data-initial);
                display: block;
                width: 1em;
                @extend .mr-1;
                font-weight: 700;
            }
            #icon-radio {
                #circle-outer {
                    stroke: $gray-700;
                    fill: transparent;
                    stroke-width: 2;
                }
                #circle-inner {
                    fill: rgba($blue-500, 0);
                    @include transition-duration($duration-entry);
                    @include transition-easing($easing-accel);
                    @include transition-property(fill);
                }
            }
        }
        &:focus {
            // removing the default focus style for these elements 
            // since a new one has been created in this instance
            box-shadow: none;
        }
        &.pin {
            position: relative;
            right: $spacer * -1;
            color: $white;
            background-color: $blue-500;
            opacity: 0;
            @include transition-property(opacity, right, background-color);
            &:hover {
                background-color: $blue-600;
            }
            &:focus {
                @extend .show-pin-btn;
            }
        }
        &:hover {
            @include transition-duration($duration-entry);
            @include transition-easing($easing-accel);
        }
    }
    svg {
        @extend .mr-2;
    }
}