.is-loading {
    position: relative;
    #loader ~ * {
        -webkit-filter: blur(0.15rem);
        filter: blur(0.15rem);
    }
}

#loader {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg { 
        position: relative;
        z-index: 2;
        // i hate doing this but the script inlines the width attr o_O
        width: 20rem !important;
        height: auto !important;
        max-width: 75%;
    }
    path {
        stroke-dasharray: 0.1em 0.3em;
        stroke-linecap: square;
        stroke: $amber-500;
    }
    g g:nth-child(1) path { stroke: $amber-900; }
    g g:nth-child(2) path { stroke: $amber-700; }
    g g:nth-child(3) path { stroke: $amber-500; }
    g g:nth-child(4) path { stroke: $amber-300; }
    g g:nth-child(5) path { stroke: $amber-100; }
    &:before {
        content: 'loading';
        @extend .h6;
        @extend .small;
        position: absolute;
        display: block;
        align-self: center;
        justify-self: center;
        margin-top: $spacer * 2;
        color: $gray-500;
        z-index: 2;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        display: block;
        background-color: rgba($white, 0.84);
        z-index: 1;
    }
}