.is-loading {
    position: relative;
    .loader ~ * {
        -webkit-filter: blur(0.15rem);
        filter: blur(0.15rem);
    }
}

.loader {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    svg {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        // i hate doing this but the script inlines the width attr o_O
        width: 20rem !important;
        height: auto !important;
        max-width: 75%;
        z-index: $z-index-loader-svg;
    }
    path {
        stroke-dasharray: 0.1em 0.3em;
        stroke-linecap: square;
        stroke: $amber-500;
    }
    g g:nth-child(1) path { stroke: $amber-900; }
    g g:nth-child(2) path { stroke: $amber-700; }
    g g:nth-child(3) path { stroke: $amber-500; }
    g g:nth-child(4) path { stroke: $amber-300; }
    g g:nth-child(5) path { stroke: $amber-100; }
    &:before {
        content: 'loading';
        @extend .h6;
        @extend .small;
        position: absolute;
        display: block;
        align-self: center;
        justify-self: center;
        margin-top: $spacer * 2;
        color: $gray-500;
        z-index: $z-index-loader-svg-before;
    }
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 1vw;
        height: 1vw;
        border-radius: 50%;
        background-color: rgba($white, 0.84);
        z-index: $z-index-loader-svg-after;
        animation-name: grow-size;
        @include transition-property(width, height);
        animation-duration: $duration-exit;
        animation-timing-function: $easing-decel;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}
@keyframes grow-size {
    0% {
        width: 1vw;
        height: 1vw;
    }
    100% {
        width: 120vw;
        height: 120vw;
    }
}