.is-loading {
    position: relative;
    #loader ~ * {
        -webkit-filter: blur(0.5rem);
        filter: blur(0.5rem);
    }
}
#loader {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg { 
        position: relative;
        z-index: 1;
        // i hate doing this but the script inlines the width attr o_O
        width: 30vw !important;
        height: auto !important;
    }
    path {
        stroke-dasharray: 0.1em 0.3em;
        stroke-linecap: square;
        stroke: $amber-900;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        display: block;
        background-color: rgba($gray-50, 0.84);
    }
}