.logo-grid {
    display: grid;
    align-items: center;
    justify-content: start;
    grid-gap: $spacer;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    img {
        height: 2em;
    }
}