.logo-grid {
    display: grid;
    align-items: center;
    align-content: start;
    justify-items: start;
    justify-content: start;
    grid-gap: $spacer;
    grid-auto-flow: column;
    grid-auto-rows: 2em;
    grid-auto-columns: auto;
    
    img {
        width: 100%;
        max-height: 100%;
    }
}