// Logo
.assist-logo {
    max-width: 100%;
    fill: $gray-900;
    .logo-mark {
        fill: $amber-900;
    }
}

// Logo Lockup
.logo-lockup {
    --unit: $spacer;
    font-size: $small-font-size;
    display: grid;
    width: auto;
    grid-template-columns: auto auto;
    grid-gap: var(--unit);
    justify-content: start;
    .assist-logo {
        height: calc(var(--unit) * 3.9375); // 63px
        padding-top: calc(var(--unit) * 0.5);
        padding-bottom: calc(var(--unit) * 0.5);
    }
    .caption{
        display: flex;
        align-items: flex-end;
        padding-bottom: calc(var(--unit) * 0.25);
        padding-left: var(--unit);
        font-size: calc(var(--unit) * 0.75);
        border-left: 1px solid $hr-border-color;
    }
}