// Logo
.assist-logo {
    max-width: 100%;
    fill: $gray-900;
    .logo-mark {
        fill: $amber-900;
    }
}

// Logo Lockup
.logo-lockup {
    font-size: $small-font-size;
    display: grid;
    width: auto;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    justify-content: start;
    .assist-logo {
        height: 6.1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .caption{
        display: flex;
        align-items: flex-end;
        padding-bottom: 0.25em;
        padding-left: 1em;
        border-left: 1px solid $hr-border-color;
    }
}