.pane {
    padding: ($spacer * 3) ($spacer * 2);
    background-color: rgba(255, 255, 255, 0.94);
    box-shadow: 0 0.25rem 2rem 0 rgba($gray-500, 0.42);
}
.pane-btns {
    .btn-default {
        color: $gray-900;
        border-color: rgba($gray-50, 0);
        &:hover {
            color: $primary;
            border-color: rgba($gray-50, 1);
        }
    }
}
.pane-head {
    display: grid;
    grid-template-columns: auto auto;
    .pane-title {
        padding-bottom: $spacer;
        > span { display: block; }
        .list-type { @extend h3; font-weight: 400; line-height: 1em; }
        .department { @extend h3; line-height: 1em; }
        .institution, 
        .year { font-weight: 300; }
    }
    .pane-btns {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}
.pane-footer {
    margin-top: $spacer * 2;
    .pane-btns {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        .btn {
            @extend .mr-2;
        }
    }
}