.pane {
    position: relative;
    padding: $pane-padding-y $pane-padding-x;
    background-color: rgba(255, 255, 255, 0.94);
    box-shadow: 0 0.25rem 2rem 0 rgba($gray-500, 0.42);
}
.pane-btns {
    .btn-default {
        color: $gray-900;
        border-color: rgba($gray-50, 0);
        &:hover {
            color: $primary;
            border-color: rgba($gray-50, 1);
        }
    }
}
.pane-head {
    display: grid;
    grid-template-columns: auto auto;
    padding: $pane-padding-y $pane-padding-x;
    .pane-title {
        > span { display: block; }
        .list-type { @extend h4; font-weight: 400; line-height: 1em; }
        .department { 
            @extend h4; 
            display: block;
            width: max-content;
            padding: 0.21em 0.84em 0.21em ($pane-padding-x + ($pane-padding-x * 0.05));
            /* dislike resorting to negative margin for positioning
            // absolute or grid didn't seem like a good solution
            // open to suggestions
            // AS 1/2018 */
            margin-left: ($pane-padding-x * -1);
            line-height: 1em;
            background-color: $primary;
            color: $white;
        }
        .institution, 
        .year { font-weight: 300; }
    }
    .pane-btns {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}
.pane-footer {
    margin-top: $spacer * 2;
    .pane-btns {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        .btn {
            @extend .mr-2;
        }
    }
}