/* ------------------------------
Tab nav main
*Application specific 
------------------------------ */

.tab-nav-main {
    color: $white;
    background: linear-gradient(180deg, $purple-800, $purple-600 30%, $blue-a400);
    .tab-header {
        display: block;
        @extend .mx-2;
        color: inherit;
        text-align: left;
        font-weight: 300;
        svg {
            @extend .mr-2;
            width: 0.8em;
            height: auto;
            fill: $white;
            &.icon-dotted-arrow {
                stroke-width: 2;
            }
        }
        .badge {
            background-color: rgba($gray-800, 0.42);
            color: $white;
        }
        .caption {
            display: block;
            font-size: $font-size-sm;
        }
    }
    svg {
        fill: currentColor;
    }
    .tab-content {
        @extend .mx-2,
                .p-3;
        color: $gray-800;
        background-color: rgba($white, 0.94);
        clip-path: polygon(0% 0%, 2.5em 0%, 3em 0.5em, 3.5em 0%, 100% 0%, 100% 100%, 0% 100%);
        svg {
            width: 1em;
            height: auto;
        }
    }
    .transfer-information {
        .tab-header {
            svg {
                @extend .mr-1;
                width: 1.5em;
                align-self: center;
            }
        }
    }
}