/* ------------------------------ 
Override Bootstrap defaults
------------------------------ */
// Colors
$primary:           $purple-700;
$info:              $blue-500;
$body-color:        $gray-800;
$body-bg:           $gray-50;

// Fonts
$font-family-sans-serif:      'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-size-base:    1rem; // Assumes the browser default, typically `16px`
$font-size-lg:      ($font-size-base * 1.25);
$font-size-sm:      ($font-size-base * .875);

$font-weight-light:   300;
$font-weight-normal:  400;
$font-weight-bold:    700;

$h1-font-size: $font-size-base * 4.06875; // 65.1 pt
$h2-font-size: $font-size-base * 2.8625; // 45.8 pt
$h3-font-size: $font-size-base * 2.01875; // 32.3 pt
$h4-font-size: $font-size-base * 1.41875; // 22.7 pt
$h5-font-size: $font-size-base * 1.2125; // 19.4 pt
$h6-font-size: $font-size-base; // 16 pt

$headings-font-weight: 700;
$headings-color: $gray-700;

$small-font-size: 85.625%; // 13.7 pt on 1em

$hr-border-color: rgba($gray-400, 0.42);

// Border Radius
$border-radius:     .125rem;
$border-radius-lg:  .25rem;
$border-radius-sm:  .063rem;

// Tables
$table-cell-padding: 1rem 1.25rem;
$table-cell-padding-sm: 0.5rem 0.625rem;

$table-bg: transparent;
$table-accent-bg: $gray-50;
$table-hover-bg: $amber-100;
$table-active-bg: $table-hover-bg;

$table-border-color: rgba($gray-400, 0.42);

$table-head-bg: $gray-200;
$table-head-color: $gray-700;

// Focus Styles
$input-btn-focus-width:         0.21rem;
$input-btn-focus-color:         rgba($primary, .21);
$input-btn-focus-box-shadow:    0 0 0 $input-btn-focus-width $input-btn-focus-color;

// Tooltips
$tooltip-color: $white;
$tooltip-bg: $primary;
$tooltip-padding-y: 0.25em;
$tooltip-padding-x: 0.5em;

/* ------------------------------ 
Initialize Custom Variables
------------------------------ */
// Animation Variables
// Transition Durations
// Entry
$duration-entry-short:  0.149s;
$duration-entry:        0.225s;
$duration-entry-long:   0.375s;
// Exit
$duration-exit-short:   0.129s;
$duration-exit:         0.195s;
$duration-exit-long:    0.324s;

// Easing Curves
$easing-standard:       cubic-bezier(0.4, 0.0, 0.2, 1);
$easing-decel:          cubic-bezier(0.0, 0.0, 0.2, 1);
$easing-accel:          cubic-bezier(0.4, 0.0, 1, 1);
$easing-sharp:          cubic-bezier(0.4, 0.0, 0.6, 1);